.jumbotron {
  background-color: #00aeff;
  color: #111111;
  margin-top: 50px;
  margin-bottom: 0;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #111111;
  margin-top: 10;
  margin-bottom: 0;
  color: aliceblue;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10;
  margin-bottom: 0;
}
.btn-reserva {
  width: 100%;
}
