.jumbotron {
    background-color: rgb(0, 174, 255);
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(17, 17, 17);
    margin-bottom: 0px;
    margin-top: 10px;
    color: aliceblue;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}